<h1>Error: That Book Id Does Not Exist</h1>
<button onclick="goBack()">Go Back</button>
<button onClick="location.href='/Admin/Index'">Return to Main Menu</button>

<script>
function goBack() {
  window.history.back();
}
</script>