@using Bookstore.Models;
@model Books

<h1>What is the Book Id of the book that you would like to update?</h1>
<br />
<form action="/Admin/UpdateBook">
    Book Id: <input type="number" id="id" name="id" />
    <input type="submit" value="submit" />
</form>

