<h1 style="text-align:center"> Order Confirmation</h1>
<br />
<br />
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .button {
        background-color: springgreen;
        border-radius: 8px;
    }
</style>

<img src="~/Images/CheckMark-Success.png" class="center">
<br />
<h3>Thank you for your order.  You will receive an email once your order ships.</h3>
<br />
<button class="button" onClick="location.href='/Bookstore/SearchIndex'">Return to Book Search</button>