@using Bookstore.Models;

@model List<Books>

<h1 style="text-align:center">Books </h1>
<br>
<h3>Please browse our selection of books</h3>
<br>
<table style="width:100%">
    <thead>
        <tr>
            <th>
                Book
            </th>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            
        </tr>
    </thead>

    <tbody>

        @{
            foreach (Books b in Model)
            {
                <tr>
                    <td>
                    <img src=@b.Image style="width:100px; height:100px" /></td>
                    <td><a href="/Bookstore/IndividualBook?id=@b.Id">@b.Title</a></td>
                    <td>@b.Author</td>

                </tr>
            }
        }


    </tbody>
</table>