@using Bookstore.Models;

@model List<Books>

<h1 style="text-align:center; color:springgreen;">Welcome to CML Bookstore </h1>
<br>
<h3>Please browse our selection of books</h3>
<br>

<label for="myInput">Further filter your search: </label>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filter search" title="Type in a keyword">

<table style="width:100%" class="table" id="bookTable">
    <thead>
        <tr>
            <th>
                Book
            </th>
            <th> 
                Title 
            </th>
            <th>
                Author
            </th>

        </tr>
    </thead>

    <tbody>

        @{
            foreach (Books b in Model)
            {
                <tr>
                    <td>
                        <img src=@b.Image style="width:100px; height:100px" />
                    </td>
                    <td class="td1"><a href="/Bookstore/IndividualBook?id=@b.Id">@b.Title</a></td>
                    <td class="td1">@b.Author</td>

                </tr>
            }
        }


    </tbody>
</table>
<script>
   
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("bookTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            td2 = tr[i].getElementsByTagName("td")[1];
            td3 = tr[i].getElementsByTagName("td")[2];
           
            if (td || td2 || td3 ) {
                txtValue = td.textContent || td.innerText;
                txtValue2 = td2.textContent || td2.innerText;
                txtValue3 = td3.textContent || td3.innerText;
                
                if (txtValue.toUpperCase().indexOf(filter) > -1 || txtValue2.toUpperCase().indexOf(filter) > -1 || txtValue3.toUpperCase().indexOf(filter) > -1
                    ) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>
